<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Portfolio | Home</title>
    <link rel="stylesheet" href="~/css/main.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="container">
      <h2 class="text-center mt-5 mb-2">@ViewBag.Title</h2>
      <div class="row">

        <div class="col-sm-6">
          <div class="card">
            <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/03/18/15/billgates.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro facilis reiciendis recusandae consectetur, architecto asperiores, atque quasi, possimus cum non id. Asperiores aperiam voluptatum ab deleniti? Consequuntur provident aperiam, ipsum earum, delectus amet nostrum voluptatibus officiis animi obcaecati eos reprehenderit molestias incidunt pariatur aliquid facere? Quam, deserunt optio? Provident repellat porro, perspiciatis maxime, molestiae deserunt pariatur sunt nisi incidunt dolorem nihil? Earum dolor deserunt reprehenderit nemo laboriosam, ab unde magni voluptas a? Explicabo accusantium rerum in voluptatibus veritatis excepturi, repudiandae esse tempora maiores, inventore repellat est pariatur rem impedit omnis ea! Atque temporibus aspernatur labore corrupti similique rerum tempore ratione.</p>
        </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>