@{
  ViewData["Title"] = "Home";
}

<style>

.scrollbar
{
	height: 500px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}

#style-5::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar-thumb
{
	background-color: #343a40;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}
</style>

<div class="row">
  <div class="col-md-7">
    <h4 class="text-dark">News & Announcements</h4>
    <div class="jumbotron p-2 shadow scrollbar w-100" id="style-5">
      <div class="overflow-auto">
        <partial name="NewsPartial"/>
        <partial name="NewsPartial"/>
        <partial name="NewsPartial"/>
        <partial name="NewsPartial"/>
        <partial name="NewsPartial"/>
        <partial name="NewsPartial"/>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <h4 class="text-dark">Open Tickets</h4>
      <div class="jumbotron p-2 shadow scrollbar w-100" id="style-5">
        <div class="overflow-auto">
          @{
            foreach(TicketModel ticket in ViewBag.AllTickets)
            {
              <div class="card w-100 px-2 pt-2 pb-1 mb-2 shadow-sm">
                <div class="row mx-0 mb-1 pb-1 border-bottom">
                  <small>Store @ticket.Location | Opened By: @ticket.Name</small>
                </div>
                <small>WO-@ticket.Ticket_Id | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, eligendi?</small>
                <small class="text-muted">@ticket.CreatedAt</small>
                <small class="text-muted">Baltimore, MD</small>
                <div class="row mx-0 mt-1 pt-1 border-top">
                  <div class="mr-auto">
                    <button class="btn btn-link p-1" title="Edit" style="line-height: 1;"><i class="fas fa-pencil-alt text-primary"></i></button>
                    <button class="btn btn-link p-1" title="Delete" style="line-height: 1;"><i class="far fa-trash-alt text-primary"></i></button>
                  </div>
                  <button class="btn btn-outline-primary btn-sm ml-auto" style="font-size: 0.75rem; line-height: 1;">Check In</button>
                </div>
              </div>;
            }
          }
        </div>
      </div>
  </div>

</div>