<div class="card w-100 px-2 pt-2 pb-1 mb-2 shadow-sm">
  <div class="row mx-0 mb-1 pb-1 border-bottom">
    <small>Store 400 | Opened By: User1</small>
  </div>
  <small>WO8478394 | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, eligendi?</small>
  <small class="text-muted">Sep 10 | 21:00 PM (EDT)</small>
  <small class="text-muted">Baltimore, MD</small>
  <div class="row mx-0 mt-1 pt-1 border-top">
    <div class="mr-auto">
      <button class="btn btn-link p-1" title="Edit" style="line-height: 1;"><i class="fas fa-pencil-alt text-primary"></i></button>
      <button class="btn btn-link p-1" title="Delete" style="line-height: 1;"><i class="far fa-trash-alt text-primary"></i></button>
    </div>
    <button class="btn btn-outline-primary btn-sm ml-auto" style="font-size: 0.75rem; line-height: 1;">Check In</button>
  </div>
</div>